<template>
	<div>
		<b-card
			class="home"
			bg-variant="dark"
			overlay
			:img-src="require(`@/assets/images/background/${backgrounds}`)"
			img-alt="Card Image"
			text-variant="light"
			title="Image Overlay"
			sub-title="Subtitle"
		>
			<img
				v-if="visible"
				class="character"
				:src="require(`@/assets/images/char/${charecters}`)"
			/>
			<div>
				<b-form>
					<label>{{ phrase.characterName[phrase.phraseNumber] }}</label>
					<div>
						<b-form-textarea v-model="wordsText" disabled rows="4">
						</b-form-textarea>
						<b-button @click="WordRead" variant="outline-primary">
							<b-icon icon="arrow-right" aria-hidden="true" scale="2"
						/></b-button>
					</div>
				</b-form>
			</div>
		</b-card>
	</div>
</template>

<script>
	import { BButton, BCard, BFormTextarea, BForm } from "bootstrap-vue"
	import axios from "axios"
	import "@/assets/styles/styles.scss"
	export default {
		name: "Home",
		components: {
			BButton,
			BCard,
			BForm,
			BFormTextarea,
		},
		data() {
			return {
				charecters: "sibtyan.png",
				backgrounds: "1.jpg",
				phrase: {
					testText: [],
					phraseNumber: 11,
					characterName: [],
				},
				lastPhrase: null,
				wordsText: "",
				first: 0,
				letter: 1,
				visible: true,
			}
		},
		mounted() {
			this.TakePhrase()
		},
		methods: {
			WordRead(phraseNumber) {
				phraseNumber = this.phrase.phraseNumber
				this.wordsText += this.phrase.testText[phraseNumber].substring(
					this.first,
					this.letter
				)
				this.first++
				this.letter++
				if (this.first < this.phrase.testText[phraseNumber].length) {
					setTimeout(this.WordRead, 3)
				} else {
					this.first = 0
					this.letter = 1
					setTimeout(this.ClearField, 1000)
				}
			},
			ClearField() {
				this.phrase.phraseNumber++
				if (this.phrase.phraseNumber === 13) {
					this.visible = false
				}
				if (this.phrase.phraseNumber === 14) {
					this.backgrounds = "2.jpg"
				}
				if (this.phrase.phraseNumber === 17) {
					this.backgrounds = "3.jpg"
				}
				if (this.phrase.phraseNumber === 19) {
					this.backgrounds = "4.jpg"
					this.charecters = "trpo.png"
					this.visible = true
				}
				if (this.phrase.phraseNumber === 26) {
					this.visible = false
				}
				if (this.phrase.phraseNumber === 28) {
					this.visible = true
					this.backgrounds = "5.jpg"
					this.charecters = "sibtyan.png"
				}
				if (this.phrase.phraseNumber === 34) {
					this.backgrounds = "6.jpg"
					this.visible = false
				}
				if (this.phrase.phraseNumber === 36) {
					this.visible = true
					this.charecters = "pvt.png"
				}
				if (this.phrase.phraseNumber === 49) {
					this.backgrounds = "7.jpg"
					this.charecters = "os.png"
				}
				if (this.phrase.phraseNumber === 56) {
					this.backgrounds = "8.jpg"
				}
				if (this.phrase.phraseNumber === 61) {
					this.backgrounds = "9.jpg"
					this.charecters = "sibtyan.png"
				}
				if (this.phrase.phraseNumber === 66) this.backgrounds = "10.jpg"
				if (this.phrase.phraseNumber === 68) this.backgrounds = "11.jpg"
				if (this.phrase.phraseNumber === 72) {
					this.visible = false
					this.backgrounds = "12.jpg"
				}
				if (this.phrase.phraseNumber === 73) {
					this.visible = true
					this.charecters = "avs.png"
				}
				if (this.phrase.phraseNumber === 91) {
					this.backgrounds = "13.jpg"
					this.visible = false
				}
				this.wordsText = ""
				if (this.phrase.phraseNumber < this.lastPhrase)
					this.WordRead(this.phrase.phraseNumber)
			},
			TakePhrase() {
				axios.get("http://localhost:3000/phrases").then((response) => {
					this.lastPhrase = response.data.length
					response.data.forEach((element) => {
						this.phrase.characterName.push(element.character)
						this.phrase.testText.push(element.phrase)
					})
					console.log(this.phrase.characterName)
				})
			},
		},
	}
</script>
