.home {
	position: relative;
	background-color: #333;
	.character {
		position: absolute;
		bottom: -2%;
		left: 17%;
	}
	form {
		label {
			background-color: #182e69;
			padding: 10px 25px 10px 25px;
			font-size: 1.5em;
			position: absolute;
			text-transform: uppercase;
			font-weight: bold;
			left: 1%;
			top: -35%;
		}
		div {
			display: flex;
		}
		textarea {
			font-size: 1.5em;
		}
		width: 90%;
		position: absolute;
		bottom: 0%;
		left: 5%;
	}
	div {
		bottom: 2%;
		.card-img {
			width: 100%;
			max-height: 100vh;
		}
	}
}
